 .profile-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #c3ffff;
 }

 .card {
   width: 600px;
   height: 500px;
   background-color: #fff;
   border-radius: 20px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
   overflow: hidden;
 }

 .card-content {
   padding: 40px;
 }

 .profile-info {
   display: flex;
   align-items: center;
 }

 .profile-picture {
   width: 150px;
   height: 150px;
   border-radius: 50%;
   margin-right: 20px;
 }


 .card h1 {
   font-size: 40px;
   color: #333;
   margin-bottom: 51px;
 }


 h2 {
   font-size: 30px;
   color: #333;
   margin-bottom: 10px;
 }

 .logout-btn {
   margin-top: 20px;

 }